.defaultSectionTitle {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  color: #25334e;
}
.defaultSection {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90rem;
  margin-top: 2rem;

  .defaultSectionText {
    width: 50%;
  }
  $breakpoint: 1024px;
  @media (max-width: #{$breakpoint}) {
    flex-direction: column;

    text-align: center;
    .defaultSectionText {
      width: 100%;
    }
  }
}
p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  /* or 31px */

  color: #686868;
}
h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.335em;
  text-transform: uppercase;

  color: #ff7d56;
}
