.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem;
  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    height: 15rem;

    background: #ffffff;
    border-radius: 18px;
    .response {
      display: flex;
      flex-direction: row;

      .statistic {
        margin: 0 2rem 0;
        h2 {
          font-family: Nunito;
          font-style: normal;
          font-weight: 800;
          font-size: 28px;
          line-height: 130%;
          /* or 36px */

          text-align: center;

          color: #25334e;
        }
      }
    }
    hr {
      width: 7rem;
      height: 0rem;

      opacity: 0.2;
      border: 2px dashed #ff7d56;
      transform: rotate(90deg);
    }
    .clients {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5rem;
      .clientsDescription {
        margin-left: 2rem;
        h3 {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 130%;
          /* identical to box height, or 26px */

          text-transform: capitalize;

          color: #25334e;
        }
      }
    }
    .aboutClient {
      font-family: "Nunito";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 170%;
      /* or 31px */

      color: #686868;
    }
  }
  .feature2 {
    display: flex;
    flex-direction: row;
    width: 90rem;
    justify-content: space-between;
    h1 {
      font-family: "Baloo 2";
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 130%;
      color: #25334e;
    }
    p {
      font-family: "Nunito";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 170%;
      /* or 31px */

      color: #686868;
    }
    .feature2Text {
      width: 50%;
    }
  }
}
@media (max-width: 1024px) {
  .section {
    align-items: center;
    .feature2 {
      flex-direction: column;
      width: 100%;
      text-align: center;
      .feature2Text {
        width: 100%;
      }
    }
    .feature {
      display: flex;
      flex-direction: column;
      padding: 0rem;
      height: 100%;
      width: 100%;
      text-align: center;
      justify-content: center;
      margin: 0 auto;
      .clients {
        flex-direction: column;
        margin-left: 0;
      }
      .response {
        flex-direction: column;
      }
      hr {
        display: none;
      }
    }
  }
}
