.header {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  .headerTitle {
    display: flex;
    flex-direction: column;
    .education {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      h3 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 900;
        font-size: 1rem;
        // letter-spacing: 0.15rem;
        color: #ff7d56;
      }
      hr {
        width: 27px;
        height: 0px;
        margin: 0;
        margin-right: 1.7rem;
        border: 2px solid #ff7d56;
      }
    }
    .educationDescription {
      /* or 31px */

      h1 {
        font-family: "Baloo 2";
        font-style: normal;
        font-weight: bold;
        font-size: 4rem;
        //line-height: 130%;

        color: #25334e;
      }
      p {
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
        /* or 31px */

        color: #686868;
      }
      button {
        width: 14rem;
        height: 3.5rem;
        border: none;
        background: #ff7d56;
        color: white;
        font-family: Nunito;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.02em;
        border-radius: 54px;
      }
    }
  }
  .headerPhoto {
    width: 30rem;
    height: 30rem;
    background-image: url("../../Images/headerr.png");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 2;
  }
  .circle {
    position: absolute;
    z-index: -1;
    height: 8rem;
    width: 8rem;
    right: 13rem;
    border-radius: 5rem;
    background: #6ed2ef;
  }
  .halfCircle {
    position: absolute;
    width: 6rem;
    z-index: 2;
    height: 3rem;
    right: 34rem;
    top: 33rem;
    background: #b2d93a;
    border-radius: 0 0 40rem 40rem;
  }
  .rhino {
    position: absolute;
    background-image: url("../../Images/rhino\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 12.5rem;
    height: 7rem;
    right: 10rem;
    top: 31rem;
    z-index: 2;
  }
}
$breakpoint: 1024px;
@media (max-width: #{$breakpoint}) {
  .header {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .rhino {
      display: none;
    }
    .circle {
      display: none;
    }
    .halfCircle {
      display: none;
    }
    .headerPhoto {
      margin-top: 2rem;
      width: 30rem;
    }
  }
}
