$breakpoint: 1024px;
.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 90rem;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 6rem;
  .aboutTextSection {
    width: 40%;
    @media (max-width:#{$breakpoint}) {
      width: 100%;
    }
  }
  @media (max-width:#{$breakpoint}) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .aboutPhoto {
    display: flex;
    background-image: url("../../Images/aboutPhoto.png");
    width: 30rem;
    height: 30rem;

    background-size: cover;
    background-repeat: no-repeat;

    z-index: 2;

    @media (max-width:#{$breakpoint}) {
      margin-top: 2rem;
    }
  }
}
.printAble {
  display: flex;
  flex-direction: column;

  align-items: center;
  max-width: 90rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 6rem;

  .aboutItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: #{$breakpoint}) {
      flex-direction: column;
    }
    .aboutItem {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 60%;
      margin: 3rem;
      @media (max-width: #{$breakpoint}) {
        margin: 0 auto;
      }
      h2 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        text-align: center;
        text-transform: capitalize;

        color: #25334e;
      }
    }
  }
}
